<div class="div-container">
    <h2 style="margin-right: 5rem;">Register</h2>
    <div class="div-register" [formGroup]="registerFormGroup">
        <div style="margin-top: 15px; width: 100%;">
            <label>User name</label>
            <input nbInput fullWidth type="text" name="user_username" formControlName="usernameFormControl" required />
        </div>
        <div style="margin-top: 15px; width: 100%;">
            <label>Password</label>
            <input nbInput fullWidth type="password" name="user_password" formControlName="passwordFormControl" required />
        </div>
        <div style="margin-top: 15px; width: 100%;">
            <label>Full name</label>
            <input nbInput fullWidth type="text" name="user_fullname" formControlName="fullnameFormControl" />
        </div>
        <div style="margin-top: 15px; width: 100%;">
            <label>Email</label>
            <input nbInput fullWidth type="email" name="user_email" formControlName="emailFormControl" />
        </div>
        <div style="margin-top: 15px; width: 100%;">
            <label>Phone</label>
            <input nbInput fullWidth type="number" name="user_phone" formControlName="phoneFormControl" />
        </div>
        <button (click)="register()" nbButton style="margin-top: 15px; width: 100%;">Go</button>
    </div>
</div>