{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": [
            "off",
            {
                "semi": false,
                "singleQuote": true,
                "trailingComma": "es5",
                "arrowParens": "always",
                "bracketSpacing": true,
                "printWidth": 160,
                "tabWidth": 4,
                "endOfLine": "auto"
            }
        ],
        "camelcase": "off",
        "max-len": "off",
        "no-underscore-dangle": "off",
        "global-require": "off",
        "max-classes-per-file": ["error", 2]
    }
}
